/** {
  border: 1px dotted red;
}*/

*html, body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  background-color: #7a986c;
}

img {
  height: 12em;
  width: 12em;
  border-radius: 50%;
  margin-right: 3em;
}

header {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-size: 1.2em;
}

h1 {
  color: #eaea97;
}

#link{
  position: absolute;
  text-decoration: none;
  font-family: 'Gloria Hallelujah', cursive;
  top: 95%;
  left: 48%;
}

p, h1, a, h5{
  color: #eaea97;
  text-shadow: 2px 2px 4px black;
}

#cactaur {
  position: absolute;
  left: 16em;
  top: 10em;
}

#k-hover {
  display: none;
}

#cactaur:hover + #k-hover{
  display: block;
  position: absolute;
  left: 16em;
  top: 22em;
}

p {
  display: inline;
  margin-right: 10em;
  margin-left: 3em;
}

#names {
  position: absolute;
  font-family: 'Philosopher', sans-serif;
  top: 15%;
  left: 21%;
}

#vivi {
  position: absolute;
  left: 36em;
  top: 10em;
}

#cloud {
  position: absolute;
  top: 10em;
  left: 57em;
}

#r-hover {
  display: none;
}

#vivi:hover + #r-hover{
  display: block;
  position: absolute;
  left: 37em;
  top: 22em;
}

#c-hover {
display: none;
}

#cloud:hover + #c-hover{
  display: block;
  position: absolute;
  left: 58em;
  top: 22em;
}

.block {
  display: block;
  font-size: 15px;
  font-family: 'Philosopher', sans-serif;
}
