body {
  background-color: #7a986c;
  margin: 0px;
}

h1 {
  float: left;
  font-family: 'Philosopher', sans-serif;
  font-size: 60px;
  margin: 5% 0px 0px 0px;
}

img{
  float: left;
  height: 13%;
  width: 13%;
}

legend {
  font-family: 'Philosopher', sans-serif;
  font-size: 45px;
}

label {
  font-family: 'Philosopher', sans-serif;
}

form {
  background: url('assets/Gothic-border-for-creation.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
  margin: 89px 10% 0px 10%;
}

#user-character-input {
  text-align: center;
  margin: 230px 20% 0px 20%;
  border: 1px solid black;
}

.submit {
  display: block;
  clear: both;
  text-align: center;
  padding: 20px;
}
