/** {
  border: 1px red dotted;
}*/

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #7a986c;
}

#whole-thing{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8em 0em 0em -14em;
  height: 17em;
  width: 29.5em;
}

#splash {
  position: absolute;
  height: 10em;
  width: 29em;
}

#logo {
  height: 10em;
  width: 10em;
  display: inline;
}

#web-name {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline;
  position: absolute;
  left: 30.8%;
  top: 54%;
}

#user-login {
  display: inline;
  position: absolute;
  top: 60%;
}

.center {
  text-align: center;
}

#login-button{
  position: absolute;
  right: 41%;
  top: 46%;
}

#new-char{
  display: inline;
  margin-left: 3em
}

#login-field{
  display: inline;
  width: 16em;
}
