/** {
  border: 1px red dotted;
}*/

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #7a986c;
}

#whole-thing{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8.5em 0em 0em -18.75em;
  height: 17em;
  width: 37.5em;
}

#splash {
  position: absolute;
  height: 10em;
  width: 37em;
}

#logo {
  height: 13em;
  width: 13em;
  display: inline;
}

#web-name {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
  text-align: center;
  color: #f5f5af;
  display: inline;
  position: absolute;
  left: 35.8%;
  top: -9%;
}

#user-login {
  display: inline;
  position: absolute;
  top: 78%;
  left: 11%;
}

.center {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  color: white;
}

#login-button{
  position: absolute;
  right: 41%;
  top: 46%;
}

#new-char{
  display: inline;
  margin-left: 3em;
  border: none;
}

#login-field{
  display: inline;
  width: 16em;
  border: none;
}

#username{
  font-family: 'Philosopher', sans-serif;
  color: white;
}

#about {
  font-family: 'Gloria Hallelujah', cursive;
  text-decoration: none;
  position: absolute;
  top: 95%;
  left: 50%;
  color: #f5f5af;
}
