body {
  margin: 0px;
  min-width: 1050px;
  background-image: url('assets/wood.jpg');
  background-color: #6d4929;
  text-align: center;
}

h1, #about-us-link {
  display: inline;
  margin: 0px;
  background-color: black;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.title-bar {
  background-color: black;
}

#about-us-link h1 {
  display: inline;
  color: white;
}

#about-us-link a {
  color: white;
}

.story-text {
  position: relative;
  height: 106%;
  width: 71%;
  margin-left: 250px;
  top: 90px;
  text-align: left;
  font-family: 'Athiti', sans-serif;
  font-size: 1.6em;
}

.story-ending {
  position: relative;
  height: 106%;
  width: 73.5%;
  margin-left: 250px;
  top: 90px;
  text-align: left;
  font-family: 'Athiti', sans-serif;
  font-size: 1.6em;
  overflow-y: scroll;
}

label {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4em;
}

input {
  margin-left: 60px;
}

#story-page {
  height: 1090px;
  background-size: auto;
  /*background-size: cover;*/
  background-image: url('assets/spellbook_image.png');
  background-repeat: no-repeat;
}

#story-text{
  position: relative;
  width: 978px;
  height: 70%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(67, 25, 15, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

#user-choices {
  margin: 1%;
  border: 4px solid black;
  background-color: black;
  color: white;
}

#secret {
  position: absolute;
  margin-top: 300px;
  margin-left: 20px;
  width: 150px;
  height: 200px;
  color: rgba(255, 255, 255, 0.0);
  -webkit-transition: width 1s, height 1s, background-color 1s;
  transition: width 1s, height 1s, background-color 1s;
}
#secret:hover {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, 1.0);
  background-color: black;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 200px;
}
