body {
  margin: 0px;
  min-width: 1050px;
  background-image: url('assets/wood.jpg');
  background-color: #6d4929;
  text-align: center;
}

h1, #about-us-link {
  display: inline;
  margin: 0px;
  background-color: black;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.title-bar {
  background-color: black;
}

#about-us-link h1 {
  display: inline;
  color: white;
}

#about-us-link a {
  color: white;
}

.story-text {
  padding-left: 25%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 16%;
  text-align: left;
  font-family: 'Athiti', sans-serif;
  font-size: 1.6em;
}

.story-ending {
  padding-left: 25%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 16%;
  text-align: left;
  font-family: 'Athiti', sans-serif;
  font-size: 20px;
}

label {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4em;
}

input {
  margin-left: 60px;
}

#story-page {
  /*margin: 1%;*/
  /*background-position: center top;*/
  background-size: cover;
  background-image: url('assets/spellbook_half.png');
  background-repeat: no-repeat;
}


#user-choices {
  margin: 1%;
  border: 4px solid black;
  background-color: black;
  color: white;
}

#secret {
  position: absolute;
  margin-top: 300px;
  margin-left: 20px;
  width: 150px;
  height: 200px;
  color: rgba(255, 255, 255, 0.0);
  -webkit-transition: width 1s, height 1s, background-color 1s;
  transition: width 1s, height 1s, background-color 1s;
}
#secret:hover {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, 1.0);
  background-color: black;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 200px;
}
